body{
    background-color: #4E4F4F;
display: flex;
    overflow-x: hidden;
    opacity: 0;
}
main{
    position: relative;
    transition: all 0.5s ease-out;
}
.smenu ul{
    display: flex;
    flex-direction: column;
    gap: 00px;
    overflow: hidden;
}

sidemenu{

    width:0vw;
    position: relative;
    transition: all 0.5s ease-out;
    display: none;
    transition-property: right;
    height: 100vh;
    background-color: #424242;
}
.smenu li{
    list-style-type: none;
}
.smenu a, .smenu p{
    text-decoration: none;
    color: white;
    width: 100%;
    font-family: Montserrat,sans-serif;
    margin: 30px;
    font-weight: 500;
    display: block;
    font-size: calc(10px + (36 + 36 * 0.7) * ((100vw - 320px) / 1280));;
}

.desktop{
    display: none;
    overflow: hidden;
    width: 100vw;
}
.mobile{
    background-color: #444444;
    width: 100vw;
    position: sticky;
    top:0;
    z-index: 50;
}
.logo img{
width:inherit;

}
.row{
    max-width: 100vw;
}
.menu a{
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.exmenu > a{
    background-color: #3B3B3B;
}
.noclick:hover{
    background-color: #3B3B3B !important;
}
.selected{
    background-color: #3B3B3B !important;
}
.exmenu{
    padding: 5px 5px;
    background-color: #3F3F3F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
    position: absolute;
    top: 5px;
    transition: all 0.2s linear;


}
.menu a:hover{
    text-decoration: none;
    background-color:#2666EF ;

}
.no-inlight:hover{
    background-color:rgba(0,0,0,0) !important;
}
.mmain{
    margin: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.base{
    margin-bottom: 40px;
    margin-left: 15px;
    margin-top: 30px;
}
.menu ul{
    display: flex;
    align-items: baseline;
    gap:16px;
    list-style-type: none;
    margin: 10px;

    padding: 15px;

}
.welcome{
    z-index: 105;
    position: relative;
}
.logo p{
    text-align: left;
    color: white;
    font-family: 'Onest', Montserrat, sans-serif;
    font-weight: 800;
    text-shadow: 0 0 10px rgb(255, 255, 255, 0.2),0 0 20px rgb(255, 255, 255, 0.2),0 0 30px rgb(255, 255, 255, 0.2),0 0 40px rgb(255, 255, 255, 0.2);

}
.no-inlight img{
    height: 2.5em;
}
.expand img{
    width: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));

}
.expand{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
@media (min-width: 575px){
    .logo p {
        font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));
    }
    .desktop{
        display: block;
    }
    .hvcol{
        display: none !important;
    }
    .text .description{
        justify-content: left !important;
        padding-left: 0;

    }
    .container-r{
        justify-content: flex-start !important;
    }
    .contatiner-wrap{

    }
    .container-module p{
        font-size:  calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
    }
    .columns{
        flex-direction: row !important;
        gap: 0;

    }
    .text{
        justify-content: flex-start !important;
        margin-left: 10px;
    }
    .label{
        justify-content: flex-start !important;
    }
    .clipboard{
        display: block !important;
    }
    .copy\!{
        display: none !important;
    }
    .paragraph-illustration{
        flex-direction: row-reverse !important;
    }
    .mobile{
        display: none;
    }
    .text h2{
        font-size:  calc(10px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280)) !important;

        text-align: left !important;
    }
    main{
        right: 0 !important;
    }
    .mmain{
        position: absolute;
    }
    .mmain .row{
        width: 100vw;
    }
.hcol{
    display: block !important;
}
.col-2{
    display: block !important;
}
.description p{
    text-align: left !important;
}
.uvcol{
    visibility: visible !important;
}
}
.hcol{
    display: none;
}
.nested0,.nested1,.nested2{
    transition: all 0.2s ease-out;
}
#nested0, #nested1, #nested2{
    display: none;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row{

}
.text h2{
    text-align: center;
}
h2{
    font-size:  calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
    color: white;
    font-family: 'Onset', Montserrat, sans-serif;
    font-weight: 600;

}

.desktop{
    background-color: #3333ea;
    position: absolute;
    z-index: 100;
    height: fit-content;
}
.uvcol{
    visibility: hidden;
}
.area{
    height: fit-content;
}
.welcome{
padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
.mobile{
    padding: 30px;

}
.mobile img{
    width: 100%;
}
.mmain{
    margin-top: 50px;
}
.dot{
    background-color: white;
    display: flex;
    /* align-content: center; */
    padding: 0;
    justify-content: center;
    border-radius: 100px;
}
.dot p{
    margin: 0;
    /* margin-bottom: 1rem; */
    align-self: center;
    /* border-radius: 10px; */
    padding: 10px;
    font-family: 'Onest';
    font-weight: 600;
    font-size:  calc(10px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));;;
    color: #151515;
}
h1{
    text-align: center;
    font-family: 'Onest', Montserrat, sans-serif;
    font-weight: 700;
    color: white;
    font-size:  calc(25px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));;

}
.description p{
    font-family: 'Onest', Montserrat, sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 25px;
    font-size:  calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
    text-align: center;
}
.paragraph-illustration{
    margin-top: 10px;
}
.text .description p{
    margin: 0;
    font-weight: 400;
    margin-top: 1em;

}
.paragraph-illustration{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.illustration img{
    width: inherit;
    margin-bottom: 20px;
}
.illustration{
    display: flex;
}
.centered{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer{
    background-color: #3B3B3B;

    width: 100vw;
    padding: 15px;
}
.sticky{
    position: fixed;
    top: 10px;
    width: 90%;
    border-radius: 10px;
    background-color: #494747;
}
#now {

    width: 98% !important;

}
footer p{
    color: white;
    font-family: Onest, Montserrat;
    font-size: calc(5px + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
    margin-bottom: 0;
}
.code{
    background-color: #3B3B3B;
    padding: 0px 0px 10px 15px !important;
    border-radius: 10px 7px 10px 10px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
margin-bottom: 20px;
}
.clipboard{
width: fit-content;
    height: fit-content;
    padding: 15px;
    background: #2A2A2A;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    display: none;
}
.clipboard img{
    width: 1.5em;
}
.copy\!{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3B3B3B;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.copy\! p{
    margin: 0;
    margin-left: 10px;
    font-family: 'Onest';
    font-weight: 600;
    font-size: 1.2em;
    color: white;
}

.clipboard:hover{
    background-color: #494747;
}
ul li{
    color: white;
    font-size:  calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 150%;
    font-weight: 500;
    font-family: 'Onest', Montserrat;
    list-style-type: none !important;

}
.menu li:before, .smenu li:before{
    content:  "";

}
ul li:before {

    content:  "—";
    position: relative;
    left:     -5px;
}
.columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.label{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}
.label p{
    color: white;
    font-family: Onest, Montserrat;
    font-weight: 500;
    font-size:  calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
    margin: 0;
    height: fit-content;

}
.marked{

    display: flex;
    gap: 15px;
    flex-direction: row;
    background-color: #3F3F3F !important;
    align-items: center;
    border-radius: 10px;
}
.marker{
    background-color: #3B3B3B;
    padding: 5px 15px;
    border-radius: 10px;
}
.container-label{
    color: white;
    font-family: Onest, Montserrat;
    font-weight: 700;
    font-size:  calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
    margin: 0;
    height: fit-content;
    text-transform: uppercase;
}
.container-r{
    justify-content: center;

}
.contatiner-wrap{


}
.container-grid {
    background-color: #424242;
    display: flex;
    border-radius: 15px;
    margin-bottom: 20px;

}

.container-module{
    background-color: #3B3B3B;
    padding: 10px;
    margin: 10px;
    border-radius: calc(5px + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
    display: flex;
    width: calc(30px + (70 + 70 * 0.7) * ((100vw - 320px) / 1280));
    height: calc(30px + (70 + 70 * 0.7) * ((100vw - 320px) / 1280));
    align-items: center;
    justify-content: center;

}
.container-module p{
    margin: 0;
    padding:  calc(5px + (2 + 5 * 0.7) * ((100vw - 320px) / 1280));;
    color: white;
    font-family: Onest, Montserrat;
    font-weight: 700;
    font-size:  calc(5px + (2 + 5 * 0.7) * ((100vw - 320px) / 1280));
    text-transform: uppercase;
}
.hvcol{

}
p{
    font-family: 'Onest', Montserrat, sans-serif;
    font-weight: 500;
    color: white;
    font-size:  calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
}